<div class="slider-container">
  <div class="slider">  
    <div class="slides">
      <div class="slide-div" id="slide-1">
        <img class="slider-img" src="./images/cabinet.JPG">
      </div>
      <div class="slide-div" id="slide-2">
        <img class="slider-img" src="./images/cabinet2.JPG">
      </div>
    </div>
    <div style="bottom: 4rem; position: relative">
      <a class="slide-a" href="#slide-1">1</a>
      <a class="slide-a" href="#slide-2">2</a>
      </div>
  </div>
</div>