<div style=
      "display: flex;
      flex-grow: 2;
      align-items: center;
      flex-direction: column;
      background-color: #ffff;
      border-style: solid;
      border-color: #0d0f25;
      border-width: 0.3rem;
      margin: 0 auto;  
      box-shadow: 8px 8px 3px -2px grey;
">
  <div style="display:flex; flex-direction: row; margin: 1rem; align-items: center">
    <h3 class="text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10;">
      Nos Coordonnées
    </h3>
    <img src="./images/home.png" style="height: 50px ; width: 50px; margin-left: 1rem" />
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; margin: 1rem;">
    <ul style="text-align: center" >
      <li style="margin-bottom: 0.5rem"><strong>Dr Brunerie</strong></li>
      <li>11 Rue de la Paix</li>
      <li>50120</li>
      <li>EQUEURDREVILLE HAINEVILLE</li>
    </ul>
    <div class="slide-up-anim">
      <a style="display: flex; justify-content: center" href="https://www.google.com/maps/place/Docteur+v%C3%A9t%C3%A9rinaire+Brunerie/@49.6480198,-1.651051,17z/data=!3m1!4b1!4m5!3m4!1s0x480c964baa31663f:0xc1e658bd64f24e97!8m2!3d49.6480198!4d-1.6488623">
        <img src="./images/maps.png" style="height: 50px ; width: 50px; margin: 4rem;" />
      </a>
    </div>
    <ul style="text-align: center">
    <div class="phone-button">
      <a href="tel:+33233937140">02 33 93 71 40</a>
    </div>
    <div class="email-link">
      <a href="mailto:isabelle.valenchon@orange.fr">isabelle.valenchon@orange.fr</a> 
    </div>
    </ul>
  </div>
</div>
