
<div style=
      "display: flex;
      flex-grow: 2;
      align-items: center;
      flex-direction: column;
      background-color: #ffff;
      border-style: solid;
      border-color: #0d0f25;
      border-width: 0.5rem;
      margin: 0 auto;  
      box-shadow: 8px 8px 3px -2px grey;
">
  <div style="display:flex; flex-direction: row; margin: 1rem; align-items: center">
    <h3 class="text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10;">
      Nos Coordonnées
    </h3>
    <img src="../images/home.png" style="height: 50px ; width: 50px; margin-left: 1rem" />
  </div>
  <div>
    <ul style="text-align: center" >
      <li>Dr Brunerie</li>
      <li>11 Rue de la Paix</li>
      <li>50120</li>
      <li>Equeurdreville Haineville</li>
    </ul>
    <ul style="text-align: center; padding-top: 1rem">
      <li>02.33.93.71.40</li>
      <li>isabelle.valenchon@orange.fr</li> 
    </ul>
  </div>
</div>
