<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="py-12">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col">
        <img src="../images/clock.png" class="h-12 w-12" />
        <h4 class="pl-4 leading-6 font-medium text-gray-800">Nos horaires</h4>
      </div
      <ul class="mt-2 text-base text-2xl leading-6 text-gray-800">
        <li class="py-2">Lundi: 8h-12h / 14h-18h</li>
        <li class="py-2">Mardi: 8h-12h / 14h-18h</li>
        <li class="py-2">Mercredi: 8h-12h / 14h-18h</li>
        <li class="py-2">Jeudi: 8h-12h / 14h-18h</li>
        <li class="py-2">Vendredi: 8h-12h / 14h-18h</li>
        <li class="py-2">Samedi: 8h-12h / 14h-18h</li>
      </ul>
  </div>
</div>
