<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="py-12 bg-white">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Infos Pratique
      </h3>
    </div>

    <div class="mt-10 bg-teal-400 rounded">
      <ul class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        <div class="flex text-4xl place-self-center">
            <div class="flex flex-col items-center">
                <img src="../images/clock.png" class="h-12 w-12" />
                <h4 class="pl-4 leading-6 font-medium text-gray-300">Nos horaires</h4>
            </div>
        </div>
        <li class="mt-10 md:mt-0">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <ul class="mt-2 text-base text-2xl leading-6 text-gray-300">
                <li class="py-2">Lundi: 8h-12h / 14h-18h</li>
                <li class="py-2">Mardi: 8h-12h / 14h-18h</li>
                <li class="py-2">Mercredi: 8h-12h / 14h-18h</li>
                <li class="py-2">Jeudi: 8h-12h / 14h-18h</li>
                <li class="py-2">Vendredi: 8h-12h / 14h-18h</li>
                <li class="py-2">Samedi: 8h-12h / 14h-18h</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
