<main>
      <div>
        <nav style="display: flex; flex-direction: column; justify-content: space-around; align-items: center">
          <div>
            <a href="#" aria-label="Home">
              <img style="width: 250px; height: 250px; box-shadow: 8px 8px 3px -2px grey" src="./images/logo-veto.png" alt="Logo">
            </a>
          </div>
          <div style="display: flex; margin: 2rem; background-color: white; padding: 1rem;box-shadow: 8px 8px 3px -2px grey">
            <a href="#infos" class="font-semibold text-gray-900 hover:text-gray-900 hover:underline">Infos Pratique</a>
            <a href="#" style="margin-left: 2rem" class="font-semibold text-gray-900  hover:text-gray-900 hover:underline">Menu1</a>
            <a href="#" style="margin-left: 2rem" class="font-semibold text-gray-900 hover:text-gray-900 hover:underline ">Menu2</a>
            <a href="#" style="margin-left: 2rem" class="font-semibold text-red-600 hover:text-red-700 hover:underline ">En cas d'urgence</a>
          </div>
        </nav>
      </div>
</main>
