<div style=
      "display: flex;
       flex-shrink: 1;
      align-items: center;
      flex-direction: column;
      background-color: #ffff;
      border-style: solid;
      border-color: #0d0f25;
      border-width: 0.3rem; 
      margin-right: 1rem;  
      box-shadow: 8px 8px 3px -2px grey;
">
  <div style="display:flex; flex-direction: row; margin: 1rem; align-items: center">
    <h3 class="text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10;">
      Nos Horaires
    </h3>
    <img src="../images/old-clock.png" style="height: 50px ; width: 50px; margin-left: 1rem" />
  </div>
  <div style="display: flex;">
    <div style="margin: 1rem">
      <p class="py-2">Lundi:</p>
      <p class="py-2">Mardi:</p>
      <p class="py-2">Mercredi:</p>
      <p class="py-2">Jeudi:</p>
      <p class="py-2">Vendredi:</p>
      <p class="py-2">Samedi:</p>
    </div>
    <div style="margin: 1rem">
      <p class="py-2"><strong>8-12h / 14h-18h</strong></p>
      <p class="py-2"><strong>8-12h / 14h-18h</strong></p>
      <p class="py-2"><strong>8-12h / 14h-18h</strong></p>
      <p class="py-2"><strong>8-12h / 14h-18h</strong></p>
      <p class="py-2"><strong>8-12h / 14h-18h</strong></p>
      <p class="py-2"><strong>8-12h / 14h-18h</strong></p>
    </div>
  </div>
  <div style="text-align: center; margin: 1rem">
    <p>En dehors des horaires d'ouverture:</p>
    <p style="margin: 0.5rem">02 33 93 71 40</p>
    <p>le répondeur vous indiquera le vétérinaire à contacter en cas d'urgence</p>
  </div>
</div>
