<div class="cardElement">
  <div style="display:flex; flex-direction: row; margin: 1rem; align-items: center">
    <h3 id="horairesTitle" class="text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10;">
      Nos Horaires
    </h3>
    <img src="./images/old-clock.png" style="height: 50px ; width: 50px; margin-left: 1rem" />
  </div>
  <p>Sur rendez-vous uniquement:</p>
  <div style="display: flex;">
    <div style="margin: 1rem">
      <p class="py-2">Lundi:</p>
      <p class="py-2">Mardi:</p>
      <p class="py-2">Mercredi:</p>
      <p class="py-2">Jeudi:</p>
      <p class="py-2">Vendredi:</p>
      <p class="py-2">Samedi:</p>
    </div>
    <div style="margin: 1rem">
      <p class="py-2"><strong>9-12h / 15h-18h30</strong></p>
      <p class="py-2"><strong>9-12h / 15h-18h30</strong></p>
      <p class="py-2"><strong>9-12h / 15h-18h30</strong></p>
      <p class="py-2"><strong>9-12h / 15h-18h30</strong></p>
      <p class="py-2"><strong>9-12h / 15h-18h30</strong></p>
      <p class="py-2"><strong>9-12h</strong></p>
    </div>
  </div>
  <div style="text-align: center; margin: 1rem">
    <p>En dehors des horaires d'ouverture:</p>
    <p style="margin: 0.5rem">02 33 93 71 40</p>
    <p>le répondeur vous indiquera le vétérinaire à contacter en cas d'urgence</p>
  </div>
</div>
