<div style=
      "display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #ffff;
      border-style: solid;
      border-color: #0d0f25;
      border-width: 0.5rem; 
      width: 400px;
      margin: 0 auto;  
      box-shadow: 8px 8px 3px -2px grey;
">
  <div style="display:flex; flex-direction: row; margin: 1rem; align-items: center">
    <h3 class="text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10;">
      Nos Coordonnées
    </h3>
    <img src="../images/old-clock.png" style="height: 50px ; width: 50px; margin-left: 1rem" />
  </div>
  <div style="display: flex;">
    <p>11 Rue de la Paix
50120 EQUEURDREVILLE HAINNEVILLE</p> 
  </div>
</div>
