@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* Just to show that you can mix SASS and Tailwind directives */
  // background-color: linear-gradient(45deg,#e0eafc,#cfdef3);
  background-color: #dbeaff;
  // background-image: radial-gradient(#6e4102 1px, #ffff 1px);
  // background-size: 20px 20px;
}

/* Tailwind @apply directives will be processed by PostCSS after the SASS rendering takes place */

a { @apply text-blue-600 no-underline border-blue-200 }
a:hover { @apply text-blue-800 border-blue-600 }

.list li {
  @apply list-disc
}

h1,h2 { @apply font-black }
h3 { @apply font-bold }

.element {
  transform: skewX(10deg 0deg);
}

* {
  box-sizing: border-box;
}

.slider-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slider {
  width: 1200px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slide-div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 1200px;
  height: 800px;
  margin-right: 50px;
  // border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border-style: solid;
  border-color: #0d0f25;
  border-width: 5px;
  margin-bottom: 1px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
.slider-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: black;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slide-a:active {
  top: 1px;
}
.slide-a:focus {
  background: #000;
}