---
layout: layouts/base.njk
title: Cabinet Vétérinaire Equeurdreville
description: Dr Isabelle Brunerie Vétérinaire 
---
<div style="display: flex; flex-direction: column; justify-content: center; margin: 0.5rem;">
    {% include "navbar.njk" %}
    {% include "carousel.njk" %}		
<div class="infosPratiques">
    {% include "sectionTitle.njk" %}
    {% include "coordonnees.njk" %}
</div>
</div>   
