---
layout: layouts/base.njk
title: Tailwind Tai11s - An Eleventy Starter
description: An Eleventy starter with modern tooling, Tailwind CSS and PurgeCSS
---
<div style="display: flex; flex-direction: column; justify-content: center; margin: 2rem">
{% include "navbar.njk" %}
{% include "carousel.njk" %}		
{% include "sectionTitle.njk" %}
</div>   
