---
layout: layouts/base.njk
title: Tailwind Tai11s - An Eleventy Starter
description: An Eleventy starter with modern tooling, Tailwind CSS and PurgeCSS
---
<div class="">
{% include "hero.njk" %}
{% include "features.njk" %}		
</div>   
